# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log
pnpm-debug.log

# Environment variables
.env
.env.*
!.env.example

# Build output
dist
build

# Development files
*.log
*.swp
.DS_Store
.vscode
.idea

# Test files
coverage
__tests__
*.test.*
*.spec.*

# Documentation
docs
*.md
!README.md 