# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Temporary files
*.swp
*.swo
*~

# Cache
.cache/
.temp/
.eslintcache 